<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WinFormBlankTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WinFormBlankTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="WinFormBlankTest.Properties.Settings.MSSQLConnectionString"
      connectionString="Data Source=DONLACKOMAGE-PC\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Model1Container1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DONLACKOMAGE-PC\SQLEXPRESS;Initial Catalog=master;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <userSettings>
    <WinFormBlankTest.Properties.Settings>
      <setting name="OpenAllPorts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DBDebugConnection" serializeAs="String">
        <value>Server =77fejl-teszt;Port= 5432; Database = csikvagas;User ID = csikvagasadmin;Password =8841Csikvagasadmin</value>
      </setting>
      <setting name="IpThermoConnectionString" serializeAs="String">
        <value>Server = 77prod; Database = ipthermo; User ID = gyartas; Password = 1234Gyartas</value>
      </setting>
      <setting name="DBReleaseConnection" serializeAs="String">
        <value>Server =77i;Port= 5432; Database = csikvagas;User ID = csikvagasadmin;Password =8841Csikvagasadmin</value>
      </setting>
      <setting name="BlockForBarcode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="COM_ports" serializeAs="String">
        <value>release</value>
      </setting>
      <setting name="DBConnection" serializeAs="String">
        <value>local</value>
      </setting>
      <setting name="AutoFillBarcodes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClosePortsWhenFormClosed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsVirtualPorts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoSize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HOMOGENITY_UPPER_LIMIT" serializeAs="String">
        <value>7.3</value>
      </setting>
      <setting name="HOMOGENITY_LOWER_LIMIT" serializeAs="String">
        <value>5.4</value>
      </setting>
      <setting name="BLANK_UPPER_LIMIT" serializeAs="String">
        <value>51</value>
      </setting>
      <setting name="BLANK_LOWER_LIMIT" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="HOMOGENITY_LIMIT_AVG" serializeAs="String">
        <value>6.35</value>
      </setting>
      <setting name="BLANK_LIMIT_AVG" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="ACCEPTABLE_BLANK_DIFFERENCE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ACCEPTABLE_HOMOGENITY_DIFFERENCE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CONTINOUSLY_FILL_BARCODES" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PREVIOUSLY_LOT_NUMBER" serializeAs="String">
        <value />
      </setting>
      <setting name="MEO_CHECK_MIN" serializeAs="String">
        <value>6.2</value>
      </setting>
      <setting name="MEO_CHECK_MAX" serializeAs="String">
        <value>7.2</value>
      </setting>
      <setting name="AUTO_CLOSE_WINDOW" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CHECK_MEO" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MEO_CHECK_VALID_TIMERANGE_IN_HOURS" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="AccestRightsInUse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DBLocal" serializeAs="String">
        <value>Server = localhost; Port = 5432; Database = csikvagas; User ID = csikvagasadmin;Password = 8841Csikvagasadmin</value>
      </setting>
      <setting name="DBUploaderScriptPath" serializeAs="String">
        <value>c:\DBArchiver.exe</value>
      </setting>
      <setting name="Setting213" serializeAs="String">
        <value>Server =77fejl-teszt;Port= 5432; Database = csikvagas;User ID = csikvagasadmin;Password =8841Csikvagasadmin</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>Server = localhost; Port = 5432; Database = csikvagas; User ID = csikvagasadmin;Password = 8841Csikvagasadmin</value>
      </setting>
      <setting name="Setting1" serializeAs="String">
        <value>Server =77i;Port= 5432; Database = csikvagas;User ID = csikvagasadmin;Password =8841Csikvagasadmin</value>
      </setting>
      <setting name="DBSchemaRestoreScript" serializeAs="String">
        <value>c:\DBSchemaRestore.exe</value>
      </setting>
      <setting name="CommitChangesNeeded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReloadConfigFrequency" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="ThreadID" serializeAs="String">
        <value>213</value>
      </setting>
      <setting name="HostToCheckNetwork" serializeAs="String">
        <value>77i.77el.hu</value>
      </setting>
    </WinFormBlankTest.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <WinFormBlankTest.Properties.Settings>
      <setting name="csikvagasConnectionString" serializeAs="String">
        <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;SerializableConnectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;ConnectionString&gt;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Properties\DataSources\csikvagas.mdf;Integrated Security=True;User Instance=True&lt;/ConnectionString&gt;
  &lt;ProviderName&gt;System.Data.SqlClient&lt;/ProviderName&gt;
&lt;/SerializableConnectionString&gt;</value>
      </setting>
      <setting name="MasterPassword" serializeAs="String">
        <value>e77</value>
      </setting>
    </WinFormBlankTest.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>